[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
poppler-utils = "*"
pypdf2 = {editable = true, git = "https://github.com/carecavoador/PyPDF2"}
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.11"
